.contenidorPrincipal {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.productsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}